body
{
	background-color:ebffba;
	
}






body header
{
	
	background-color:00ffc3;
	background-attachment:fixed;
	border:10px solid blue;
	padding:100px;
	margin:100px;

	


}

body h1
{
	font-family:Cooper Black;	
	font-size:3em;
	color:ff2fee;
}

body h2
{
		
	font-family:Castellar;
	font-size:2.5em;
	color:a40036;

}


body h3
{
	




}